API_EG.ELC.ACCS.ZS_DS2_en_csv_v2_127016/
afrique_energie.db
EDA with python.ipynb
etudiants.csv
etudiants_brut.csv
etudiants_pandas_propre.csv
objectifs.csv
ventes.csv
promotion.json
recus.csv
resultats.json
MEAN_evolution.png
senegal_evolution.png
.ipynb_checkpoints/
__pycache__/